
body{
	margin:0px;
	padding:0px;
	background-image:url(../images/tablecloth%20gray%20k2172549.jpg);
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:12px;
	color:#666;
}
#tn-page-container{
	display:block;
	width:750px;
	margin-left:auto;
	margin-right:auto;
	min-height:800px;
	background-color:#FFF;

}

#tn-header{
	width:100%;
	display:block;
	padding-bottom:10px;
	border-bottom:solid 5px #ccc;

}
#tn-header img{
	border:solid;
	margin-left:20px;
	margin-top:20px;
}


#nav-bar{
	width:150px;
	display:block;
	float:left;
	clear:none;
	margin-right:40px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:.9em;
	letter-spacing:2px;
	border-right:solid 5px #ccc;
	padding-top:30px;
}
#nav-bar ul{
	margin:0px;
	padding:0px;
	width:150px;
}
#nav-bar li{
	list-style-type:none;
}
#nav-bar a{
	display:block;
	padding-left:10px;
	padding-right:10px;
	padding-top:5px;
	padding-bottom:5px;
	border-bottom:solid 1px #CCC;
	color:#000;
	text-decoration:none;
	
}
#nav-bar a:hover{
	background-color:#F60;
}

#t-pcontent{
	display:block;
	width:500px;
	height:600px;
	padding-top:50px;
	float:left;
	padding:10px;

}
#t-pcontent p{
	display:block;
	width:450px;
	text-align:justify;
}


#footer{
	width:710px;
	display:block;
	clear:both;
	height:50px;
	border-top:solid 5px #ccc;
	padding:20px;
}